.modules-privatemessaging ul.message-list{
	margin-bottom: 16px;
}
.modules-privatemessaging ul.message-list li{
	background: url(/media/frontoffice/pixel2.gif) repeat-y 191px 0px;
	background-color: #fff/*@var troddbgcolor*/;
	border: 1px solid;
	border-color: #D5D3CC/*@var thbgcolor*/;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 12px;
}
.modules-privatemessaging ul.message-list li.odd{
	background: url(/media/frontoffice/pixel2.gif) #faf9f7 repeat-y 191px 0px;
	background-color: #eee/*@var trevenbgcolor*/;
}
.modules-privatemessaging .author-information{
	width: 180px;
	padding: 12px 0 12px 12px;
	float: left;
}
.modules-privatemessaging .author-information a.link{
	font-size: 1.2em;
	text-decoration: none;
}
.modules-privatemessaging .author-information a.link:hover{
	text-decoration: underline;
}
.modules-privatemessaging .message-content{
	padding: 12px;
	margin-left: 192px;
}
.modules-privatemessaging .message-body{
	overflow-y: auto;
}
.modules-privatemessaging .message-footer{
	overflow-y: auto;
	padding: 8px;
	background-color: #E8E7DF/*@var thbgcolor*/;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	font-size: 0.86em;
	border-top: 1px;
	border-color: #D5D3CC/*@var thbgcolor*/;
}
.modules-privatemessaging .message-footer a.link{
	color: #666/*@var thfgcolor*/;
}
.modules-privatemessaging .ip-anchor{
	float: right;
	padding-left: 18px;
}
.modules-privatemessaging .message-footer .options-list{
	padding-left: 197px;
}
.modules-privatemessaging ul.inline-menu{
	margin-bottom: 16px;
}
.modules-privatemessaging ul.inline-menu li{
	display: inline;
	padding-right: 10px;
}
.modules-privatemessaging .member-pic{
	float: left;
}
.modules-privatemessaging .member-info{
	margin-left: 37px;
}
.modules-privatemessaging .message-header{
	padding: 8px;
	border-bottom: 1px;
	border-color: #D5D3CC/*@var thbgcolor*/;
	background-color: #E8E7DF/*@var thbgcolor*/;
	color: #000/*@var thfgcolor*/;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}
.modules-privatemessaging .message-header a.link{
	color: #666/*@var thfgcolor*/;
}
.modules-privatemessaging .message-header, .modules-privatemessaging .member-signature{
	font-size: 0.85em;
}
.modules-privatemessaging hr.signature-separator{
	margin: 15px 0 5px 0;
	border: 0;
	border-bottom: 1px dashed;
	border-color: #D5D3CC/*@var thbgcolor*/;
}
.modules-privatemessaging .action-log{
	margin-top: 15px;
	text-align: right;
}
.modules-privatemessaging .post-form input.textfield, .modules-privatemessaging .post-form textarea{
	width: 64%;
}
.modules-privatemessaging .post-form
{
	border: 1px solid;
	border-color: #D5D3CC/*@var thbgcolor*/;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 12px;
}
.modules-privatemessaging .post-form .buttons
{
	background-color: #E8E7DF/*@var thbgcolor*/;
	color: #000/*@var thfgcolor*/;
	margin: 0;
	padding: 5px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.modules-privatemessaging .post-form .errors
{
	background-color: #E8E7DF/*@var thbgcolor*/;
	color: #000/*@var thfgcolor*/;
	margin: 0;
	padding: 5px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}
.modules-privatemessaging .thread-list th
{
	white-space: nowrap;
}
.modules-privatemessaging .column-bullet
{
	min-width: 30px;
	text-align: center;
}
.modules-privatemessaging .column-avatar
{
	min-width: 40px;
	text-align: center;
}
.modules-privatemessaging .column-label
{
	width: 100%;
}
.modules-privatemessaging .column-posts, .modules-privatemessaging .column-threads
{
	white-space: nowrap;
	min-width: 75px;
	text-align: center;
}
.modules-privatemessaging .column-last-post
{
	white-space: nowrap;
	min-width: 150px;
	text-align: center;
}
.modules-privatemessaging .column-date, .modules-privatemessaging .column-country
{
	white-space: nowrap;
	min-width: 100px;
	text-align: center;
}

/** TODO: generalize it in cmxform default styles? */
.modules-privatemessaging .cmxform
{
	overflow-y: auto;
	margin-bottom: 15px;
}

/** TODO: generalize it in form styles? */
.modules-privatemessaging p.buttons
{
	overflow-y: auto;
	margin-bottom: 15px;
}