<h1 change:h="">${thread/getLabelAsHtml}</h1>
<tal:block tal:define="count thread/getFollowersCount">
	<p class="normal" tal:condition="php: count LE 1">${trans:m.privatemessaging.fo.you-are-last-follower,ucf}</p>
	<dl tal:condition="php: count GT 1" class="inline-list normal-margin">
		<dt>${trans:m.privatemessaging.fo.Followers,ucf}</dt>
		<tal:block tal:repeat="follower thread/getFollowersArray">
			<dd>
				<strong>${follower/getMemberLink}</strong>
				<span tal:condition="php: repeat.follower.index LT (repeat.follower.length - 2)" class="punctuation">, </span>
				<span tal:condition="php: repeat.follower.index EQ (repeat.follower.length - 2)" class="punctuation">${trans:m.privatemessaging.fo.and}</span>
			</dd>
		</tal:block>
	</dl>
</tal:block>

<h2 change:h="">${trans:m.privatemessaging.fo.confirm-unfollow-title,ucf}</h2>
<p class="normal">${trans:m.privatemessaging.fo.confirm-unfollow-description,ucf}</p>

<p class="buttons">
	<a class="button" change:link="document thread">${trans:m.privatemessaging.fo.back-to-thread,ucf}</a>
	<a class="button" change:link="document thread; privatemessagingParam[unfollow] '1'; privatemessagingParam[confirmUnfollow] '1'">${trans:m.privatemessaging.fo.cancelfollowthread,ucf}</a>
</p>