<h1 change:h="">${thread/getLabelAsHtml}</h1>
<p class="normal" tal:define="count thread/getFollowersCount">
<tal:block tal:condition="php: count LE 1">${trans:m.privatemessaging.fo.you-are-last-follower,ucf}</tal:block>
	<tal:block tal:condition="php: count GT 1">
		${trans:m.privatemessaging.fo.Followers,ucf,lab}
		<tal:block tal:repeat="follower thread/getFollowersArray">
			<tal:block tal:condition="php: !repeat.follower.start && repeat.follower.end"> ${trans:m.privatemessaging.fo.and} </tal:block>
			<strong>${follower/getMemberLink}</strong><tal:block tal:condition="php: repeat.follower.index LT (repeat.follower.length - 2)">, </tal:block>
		</tal:block>
	</tal:block>
</p>

<h2 change:h="">${trans:m.privatemessaging.fo.confirm-unfollow-title,ucf}</h2>
<p class="normal">${trans:m.privatemessaging.fo.confirm-unfollow-description,ucf}</p>

<p class="buttons">
	<a class="button" change:link="document thread">${trans:m.privatemessaging.fo.back-to-thread,ucf}</a>
	<a class="button" change:link="document thread; privatemessagingParam[unfollow] '1'; privatemessagingParam[confirmUnfollow] '1'">${trans:m.privatemessaging.fo.cancelfollowthread,ucf}</a>
</p>