<tal:block tal:define="global lnum">${trans:m.privatemessaging.fo.num,ucf}</tal:block>
<tal:block metal:define-macro="goToPageForm">
	<form tal:condition="php: postListInfo['paginator'].getPageCount() GT 1" method="get" action="" class="float-right">
		<input type="text" class="textfield" name="privatemessagingParam[page]" value="${postListInfo/paginator/getCurrentPageNumber}" size="4" onclick="if(this.value=='${lnum}')this.value='';" />
		<input type="submit" class="button" value="${trans:m.privatemessaging.fo.see-page,ucf}" />
	</form>
</tal:block>

<h1 change:h="">${thread/getLabel}</h1>
<p class="normal" tal:define="count thread/getFollowersCount">
	<tal:block tal:condition="php: count LE 1">${trans:m.privatemessaging.fo.you-are-last-follower,ucf}</tal:block>
	<tal:block tal:condition="php: count GT 1">
		${trans:m.privatemessaging.fo.Followers,ucf,lab}
		<tal:block tal:repeat="follower thread/getFollowersArray">
			<tal:block tal:condition="php: !repeat.follower.start && repeat.follower.end"> ${trans:m.privatemessaging.fo.and} </tal:block>
			<strong><a change:link="document follower">${follower/getLabel}</a></strong><tal:block tal:condition="php: repeat.follower.index LT (repeat.follower.length - 2)">, </tal:block>
		</tal:block>
	</tal:block>
</p>

<form metal:use-macro="goToPageForm"></form>

<ul class="inline-list">
	<li>
		<a change:link="tag contextual_website_website_modules_privatemessaging_newpost; privatemessagingParam[cmpref] thread/getId">${trans:m.privatemessaging.fo.newpost,ucf}</a>
		<span> | </span>
	</li>
	<li><a change:link="tag contextual_website_website_modules_privatemessaging_threadlist">${trans:m.privatemessaging.fo.threadslist,ucf}</a></li>
</ul>

<div class="cleaner"></div>

<tal:block change:include="module 'privatemessaging'; template 'Privatemessaging-Inc-PostList-Success'; type 'html'; postListInfo postListInfo" />

<form metal:use-macro="goToPageForm"></form>

<ul class="inline-list">
	<li>
		<a change:link="tag contextual_website_website_modules_privatemessaging_newpost; privatemessagingParam[cmpref] thread/getId">${trans:m.privatemessaging.fo.newpost,ucf}</a>
		<span> | </span>
	</li>
	<li>
		<a change:link="document thread; privatemessagingParam[unfollow] '1'">${trans:m.privatemessaging.fo.cancelfollowthread,ucf}</a>
		<span> | </span>
	</li>
	<li><a change:link="document thread; privatemessagingParam[addFollower] '1'">${trans:m.privatemessaging.fo.invite-new-followers,ucf}</a></li>
</ul>

<div class="cleaner"></div>