<h1 change:h="">${thread/getLabelAsHtml}</h1>

<form change:form="beanClass privatemessaging_persistentdocument_thread; beanName thread" class="cmxform post-form">
	<fieldset>
		<legend>${trans:m.privatemessaging.fo.invite-new-followers,ucf}</legend>
		<ul change:errors=""></ul>
		<ol>
			<li><input change:textinput="" required="true" name="receivers" labeli18n="m.privatemessaging.fo.receivers" /></li>
		</ol>
		<p class="buttons">
			<input change:field="name beanId" hidden="true" />
			<input change:submit="labeli18n m.privatemessaging.fo.form-submit" name="addFollower" />
		</p>
	</fieldset>
</form>