<tal:block tal:define="global displayConfig postListInfo/displayConfig" />

<ul class="document-list message-list">
	<tal:block tal:repeat="post postListInfo/paginator">
		<li class="erased" tal:condition="post/wasDeleted" id="post-${post/getId}">
			<em>${trans:m.privatemessaging.fo.deletedpost,ucf}</em>
		</li>
		
		<tal:block tal:condition="not: post/wasDeleted">
			<li class="${php: repeat.post.start ? 'start' : ''} ${php: repeat.post.end ? 'last' : ''} ${php: repeat.post.odd ? 'odd' : 'even'}" id="post-${post/getId}">
				<div class="message-header">
					<p class="float-right" tal:condition="not: displayConfig/hidePostLink">
						<a change:link="document post">${post/getPostId}</a>
						<tal:block tal:condition="post/isAnswer" tal:define="answerOf post/getAnswerof; answerOfAuthor answerOf/getPostauthor">
							${trans:m.privatemessaging.fo.answer-to}
							<a change:link="document post/getAnswerof">${post/getAnswerof/getPostId}</a>
							${trans:m.privatemessaging.fo.written-by,ucf}
							<tal:block tal:condition="answerOfAuthor"><a change:link="document answerOfAuthor">${answerOf/getAuthorName}</a></tal:block>
							<tal:block tal:condition="not: answerOfAuthor">${answerOf/getAuthorName}</tal:block>
						</tal:block>
					</p>
					<p>
						<tal:block change:memberdate="value post/getCreationdate; mode 'long'" />
					</p>
					<div class="cleaner"></div>					
				</div>
				
				<div class="message-body" tal:define="author post/getPostauthor; fmember post/getPostauthor/getForumMember">
					<div class="author-information" tal:condition="author">
						<tal:block tal:condition="displayConfig/showGravatars">
							<img src="${php: author->getGravatarUrl(displayConfig['avatarsSize'])}" class="image" alt="" />
							<br />
						</tal:block>
						<tal:block tal:condition="not:fmember">${structure post/getAuthorNameAsHtml}</tal:block>
						<tal:block tal:condition="fmember">
							<a change:link="document fmember">${fmember/getLabel}</a>
							<tal:block tal:repeat="title fmember/getPublishedTitleArray">
								<br />
								<strong>${trans:m.privatemessaging.fo.member-title,ucf,lab}</strong> ${title/getLabel}
								<tal:block tal:define="visual title/getVisual" tal:condition="visual/isPublished">
									<br />
									<img change:media="document visual" />
								</tal:block>
							</tal:block>
							<tal:block tal:define="rank fmember/getRank" tal:condition="rank">
								<br />
								<strong>${trans:m.privatemessaging.fo.member-rank,ucf,lab}</strong> ${rank/getLabel}
								<tal:block tal:define="visual rank/getVisual" tal:condition="visual/isPublished">
									<br />
									<img change:media="document visual" />
								</tal:block>
							</tal:block>
						</tal:block>
					</div>
					<div class="author-information" tal:condition="not: author">
						${trans:m.forums.frontoffice.unknown,ucf}
					</div>
			
					<div class="message-content">
						${structure post/getTextAsHtml}
						<tal:block tal:condition="displayConfig/showSignatures">
							<tal:block tal:condition="fmember/getSignature">
								<hr class="signature-separator" />
								<div class="member-signature">${structure fmember/getSignatureAsHtml}</div>
							</tal:block>
						</tal:block>
					</div>
					<div class="cleaner"></div>
				</div>
		
				<div class="message-footer">
					<ul class="inline-list float-right">
						<li><a class="link" href="#top">${trans:m.privatemessaging.fo.top,ucf}</a></li>
					</ul>
					<ul class="inline-list" tal:condition="php: displayConfig['showActions']">
						<li>
							<a change:link="tag contextual_website_website_modules_privatemessaging_newpost; privatemessagingParam[cmpref] post/getThread/getId ; privatemessagingParam[postid] post/getId">${trans:m.privatemessaging.fo.answer,ucf}</a>
							<span> | </span>
						</li>
						<li>
							<a change:link="tag contextual_website_website_modules_privatemessaging_newpost; privatemessagingParam[cmpref] post/getThread/getId ; privatemessagingParam[postid] post/getId ; privatemessagingParam[quote] 'true'">${trans:m.privatemessaging.fo.quote,ucf}</a>
						</li>
					</ul>
					<div class="cleaner"></div>
				</div>
			</li>
		</tal:block>
	</tal:block>
</ul>

<tal:block tal:condition="displayConfig/showPagination" change:paginator="postListInfo/paginator" />