<form change:form="beanClass privatemessaging_persistentdocument_privatemessagingprofile; beanName profile">
	<fieldset>
		<legend>${title}</legend>
		<ul change:errors=""></ul>
		<ul change:messages=""></ul>
		<input change:field="name beanId" hidden="true" />	
		<ol>
			<li><input change:field="name notifyNewMessages" /></li>
			<li><input change:field="name viewAvatars" /></li>
			<li><input change:field="name viewSignatures" /></li>
		</ol>
		<p class="buttons">
			<input change:submit="labeli18n m.users.frontoffice.editprofil.submitbutton" name="save" />
		</p>
	</fieldset>
</form>