<h2 change:h="">${trans:m.privatemessaging.fo.newthread,ucf}</h2>

<tal:block tal:condition="previewPostInfo">
	<h3 change:h="">${trans:m.privatemessaging.fo.message-preview,ucf}</h3>
	<tal:block change:include="module 'privatemessaging'; template 'Privatemessaging-Inc-PostList-Success'; type 'html'; postListInfo previewPostInfo" />
</tal:block>

<h3 change:h="">${trans:m.privatemessaging.fo.message-input,ucf}</h3>
<form change:form="beanClass privatemessaging_persistentdocument_thread; beanName thread" class="cmxform post-form">
	<div change:errors=""></div>
	<tal:block change:field="name beanId" hidden="true" />
	<ol>
		<li><input change:textinput="" required="true" name="receivers" labeli18n="m.privatemessaging.fo.receivers" /></li>
		<li><input change:field="name label" /></li>
		<li><label change:fieldlabel="" name="firstPost.text"></label> <input change:richtextinput="name firstPost.text; editor bbcode" required="true" /></li>
	</ol>
	<p class="buttons">
		<input class="button" name="preview" change:submit="labeli18n m.privatemessaging.fo.form-preview" />
		<input class="button" change:submit="labeli18n m.privatemessaging.fo.form-submit"/>
	</p>
</form>