<h1 change:h="">${trans:m.privatemessaging.fo.newthread,ucf}</h1>

<tal:block tal:condition="previewPostInfo">
	<tal:block change:include="module 'privatemessaging'; template 'Privatemessaging-Inc-PostList-Success'; type 'html'; postListInfo previewPostInfo; displayConfig previewPostInfo/displayConfig" />
</tal:block>

<form change:form="beanClass privatemessaging_persistentdocument_thread; beanName thread">
	<fieldset>
		<legend>${trans:m.privatemessaging.fo.message-input,ucf}</legend>
		<div change:errors=""></div>
		<ol>
			<li><input change:textinput="" required="true" name="receivers" labeli18n="m.privatemessaging.fo.receivers" /></li>
			<li><input change:field="name label" /></li>
			<li><input change:bbcodeinput="name firstPost.textAsBBCode" module-profile="privatemessaging" labeled="true" required="true" /></li>
		</ol>
		<p class="buttons">
			<input change:field="name beanId" hidden="true" />
			<input class="button" name="preview" change:submit="labeli18n m.privatemessaging.fo.form-preview" />
			<input class="button" change:submit="labeli18n m.privatemessaging.fo.form-submit"/>
		</p>
	</fieldset>
</form>